.preloader-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.valid-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.valid-text i {
  font-size: 48px;
  color: green;
  margin-right: 10px;
}

.container{
    margin-top: 100px;
    margin-block-end: 400px;
}