<footer class="page-footer grey lighten-3">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="grey-text text-darken-3">Contáctanos</h5>
        <ul>
          <li class="grey-text text-darken-3">
            <i class="material-icons">location_on</i>1234 Calle Principal,
            Ciudad, Estado
          </li>
          <li class="grey-text text-darken-3">
            <i class="material-icons">phone</i>(123) 456-7890
          </li>
          <li class="grey-text text-darken-3">
            <i class="material-icons">email</i>info@inmobiliaria.com
          </li>
        </ul>
      </div>
      <div class="col l4 s12">
        <h5 class="grey-text text-darken-3">Enlaces útiles</h5>
        <ul>
          <li>
            <a class="grey-text text-darken-3" href="#"
              >Propiedades destacadas</a
            >
          </li>
          <li>
            <a class="grey-text text-darken-3" href="#">Nuestros agentes</a>
          </li>
          <li><a class="grey-text text-darken-3" href="#">Contáctanos</a></li>
        </ul>
      </div>
      <div class="col l4 s12">
        <h5 class="grey-text text-darken-3">Síguenos:</h5>
        <ul class="social-icons">
          <li>
            <a href="#"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grey darken-4 white-text center-align">
    <div class="container">
      <p>Derechos reservados © 2023 Inmobiliaria</p>
    </div>
  </div>
</footer>
