nav {
  background-color: #263238;
}

nav a {
  color: #fff !important;
}

.sidenav {
  background-color: #263238;
}

.sidenav a {
  color: #fff !important;
}

from {
  width: 0;
}
to {
  width: 100%;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.brand-logo strong {
  color: #e65100;
}

.brand-logo {
  font-size: 32px;
  font-weight: bold;
}

.brand-logo strong {
  color: #e65100;
}
