<nav class="black">
  <div class="nav-wrapper">
    <a routerLink="/inicio" class="brand-logo white-text">
      <i class="material-icons">home</i>
      <span class="animated-text brand-logo-text">Aki<strong>Muebles</strong></span>
    </a>
    

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a *ngIf="!sesionActiva" routerLink="/seguridad/identificar-usuario" class="white-text"
          >Iniciar Sesión</a
        >
      </li>
      <li>
        <a  *ngIf="!sesionActiva" routerLink="/informacion/mision">Sobre nosotros</a>
      </li>
      <li>
        <a  *ngIf="!sesionActiva" routerLink="/informacion/contacto" class="white-text">Contacto</a>
      </li>
      <li>
        <a  *ngIf="!sesionActiva" routerLink="/informacion/nuestros-asesores" class="white-text">Nuestros acesores</a>
      </li>
      <li>
        <a  *ngIf="sesionActiva"  routerLink="/seguridad/cambiar-clave" class="white-text"
          >Cambiar clave</a
        >
      </li>
      <li>
        <a  *ngIf="sesionActiva"   routerLink="/seguridad/cerrar-sesion" class="white-text"
          >cerrar sesion</a
        >
      </li>
    </ul>
  </div>
</nav>
<div *ngIf="sesionActiva" class="white">
  <app-menu-lateral></app-menu-lateral>
</div>
